.contact {
  background-image: url(../img/contact-image.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 65% bottom 50%;

  &__wrapper {
    width: 320px;
    margin: auto;
    padding: 0 10px 0 10px
  }

  &__title {
    margin-top: 60px;
    // height: 37px;
    color: #454545;
    font-family: $main-title-font;
    // font-size: 50px;
    font-size: 33px;
    font-weight: 400;
    // line-height: 59.27px;
    text-transform: uppercase;
    // letter-spacing: 5.96px;
    letter-spacing: 3px;
    position: relative;

    &::after {
      display: block;
      border-right: 2px solid #000002;
      height: 130px;
      content: '';
      opacity: 0.5;
      position: absolute;
      left: 275px;
      top: 240px
    }
  }

  &__address {
    margin-top: 20px;
    color: #7a8083;
    font-family: $base-font;
    // font-size: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24.27px;
    // line-height: 22px;
    letter-spacing: 0.27px;
  }

  &__phone {
    color: #7a8083;
    font-family: $base-font;
    // font-size: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24.27px;
    // line-height: 22px;
    letter-spacing: 0.27px;
  }

  &__input-box {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    height: 200px;
    margin-top: 100px;
    // position: relative;

    // &::after {
    //   background-image: url(../img/contact-facebook-image.png);
    //   width: 8px;
    //   height: 17px;
    //   display: block;
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
  }

  &__social-link {
    display: flex;
  }

  &__link-facebook {
    background-image: url(../img/contact-facebook-image.png);
    width: 8px;
    height: 17px;
  }

  &__link-instagram {
    background-image: url(../img/contact-instagram-image.png);
    width: 19px;
    height: 19px;
  }

  &__link-twitter {
    background-image: url(../img/contact-twitter-image.png);
    background-position: center;
    width: 16px;
    height: 13px;
  }

  &__input {
    width: 250px;
    border: 0;
    border-bottom: 1.5px solid #7a8083;;
    background: transparent;
    position: relative;

    &:focus {
      outline: 0;
    }
  
    &:invalid:focus {
      border-bottom: 1.5px red solid;
    }
  
    &[name="user_name"]:valid {
      border-bottom: 1.5px green solid;
    }

    &[name="user_email"]:valid {
      border-bottom: 1.5px green solid;
    }

    &::-webkit-input-placeholder {
      font-family: $base-font;
      font-weight: 400;
      letter-spacing: 0.27px;
      color: #7a8083;
    }
  }

  &__button {
    display: block;
    font-family: $base-font;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: start;
    padding: 0
  }
}