.upcoming-events {
  background-image: url(../img/upcoming-events-image.png);
  background-size: cover;
  background-position: right 62.5% bottom 50%;
  background-repeat: no-repeat;
  width: 750px;
  height: 1203px;

  &__title {
    
  }  
}