/*
   Import partials below
*/
@import 'normalize';
@import 'fonts';
@import 'variables';

/* HEADRER SECTION */

.header {
  &__wrapper {
    position: relative;
    background-image: url(../img/header-picture.png);
    background-position: center;
    background-size: cover;
    width: 744px;
    height: 1336px;
    margin: auto;
  }
  
  &__button {
    position: absolute;
    background-image: url(../img/menu-picture.png);
    background-position: center;
    background-size: cover;
    width: 82px;
    height: 58px;
    top: 52px;
    right: 67px;
    cursor: pointer;
  }
  
  &__title {
    position: absolute;
    background-image: url(../img/title-picture.png);
    background-position: center;
    background-size: cover;
    width: 537px;
    height: 499px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}


/* MAIN SECTION */

main {
  width: 750px;
  margin: auto;
}

/* SECTION DISCOGRAPHY */

.discoghraphy {
  padding: 0 52px 0 52px;
  
  &__title {
    text-transform: uppercase;
    font-size: 51px;
    text-align: center;
    font-family: $main-title-font;
    font-weight: 400;
    font-size: 51px;
    line-height: 1.174;
    letter-spacing: 5px;
  }

  &__info {
    text-align: center;
    color: #7a8083;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 1.77px;
  }

  &__date {
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 2, 0.651);
    line-height: 1.618;

    &::after {
      display: block;
      width: 649px;
      height: 2px;
      background-color: #000002;
      content: "";
      opacity: 0.5;
    }
  }
}

/* discoghraphy-article-1 */

.discoghraphy-article-1 {
  padding: 0 52px 0 52px;

  &__pretitle {
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.618; 
  }

  &__title {
    color: #000002;
    font-family: $base-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.43px;
    opacity: 0.5;
  }

  &__info {
    color: #aaaaaa;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.27px;
  }

  &__button {
    display: block;
    background-image: url(../img/discography-article-1__button.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 196px;
    height: 56px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    font-family: $base-font;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
  }

  &__date {
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 2, 0.651);
    line-height: 1.618;

    &::after {
      display: block;
      width: 649px;
      height: 2px;
      background-color: #000002;
      content: "";
      opacity: 0.5;
    }
  }
}

/* discoghraphy-article-2 */

.discoghraphy-article-2 {
  padding: 0 52px 0 52px;

  &__pretitle {
    color: #000002;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 700;
    line-height: 24.27px;
    text-transform: uppercase;
  }

  &__title {
    width: 450px;
    color: #000002;
    font-family: $base-font;
    font-size: 23px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.23px;
  }

  &__info {
    color: #aaaaaa;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.27px;
  }

  &__button {
    display: block;
    background-image: url(../img/discoghraphy-article-2__button.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 196px;
    height: 56px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    font-family: $base-font;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
  }

  &__date {
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 2, 0.651);
    line-height: 1.618;
  }
}

/* discoghraphy-article-3 */

.discoghraphy-article-3 {
  padding: 0 52px 0 52px;
  height: 787px;
  background-image: url(../img/mountains750x787.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /*
  position: relative;
  */
  /*
  .discoghraphy-article-3__image {
    position: absolute;
    background-image: url(../img/mountains750x787.png);
    width: 750px;
    height: 787px;
    top: 0;
    left: 0;
  }
  */

  &__pretitle {
    position: relative;
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.618; 
  }

  &__title {
    position: relative;
    color: #000000;
    font-family: $base-font;
    font-size: 23px;
    font-weight: 400;
    line-height: 35.27px;
    letter-spacing: 0.41px;
  }

  &__info {
    position: relative;
    color: #aaaaaa;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.27px;
  }

  &__button {
    display: block;
    position: relative;
    background-image: url(../img/discoghraphy-article-3__button.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 196px;
    height: 56px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    font-family: $base-font;
    font-size: 15px;
    font-weight: bold;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
  }
}

/* CONCERT-TOURS */
.concert-tours {
  &__title {
    text-transform: uppercase;
    font-size: 51px;
    text-align: center;
    font-family: $main-title-font;
    font-weight: 400;
    font-size: 51px;
    line-height: 59.27px;
    letter-spacing: 5.96px;
    background-image: linear-gradient(to bottom, rgba(98,158,168,1), rgba(140,182,175,1));
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  &__info {
    text-align: center;
    font-family: $base-font;
    font-weight: 400;
    font-size: 15px;
    color: rgb(120, 129, 132);
    line-height: 1.618;
    letter-spacing: 1.5px;
    padding: 0 60px 0 60px;
  }

  &__background {
    background-image: url(../img/concert-tours__background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 980px;
  }
}

.concert-tours-background {
  padding: 0 52px 0 52px;

  /* smoke + mirror*/
  &__date {
    display: block;
    padding-top: 300px;
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 2, 0.651);
    line-height: 1.618;

    &::after {
      display: block;
      width: 392px;
      height: 2px;
      background-color: #000002;
      content: "";
      opacity: 0.5;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.618;
  }

  &__subtitle {
    font-size: 23px;
    line-height: 1.055;
    font-family: $base-font;
  }

  &__info {
    width: 380px;
    font-family: $base-font;
    font-weight: 400;
    font-size: 15px;
    color: rgb(120, 129, 132);
    line-height: 1.618;
    font-size: 15px;
  }

  &__button {
    margin-top: 150px;
    display: block;
    background-color: transparent;
    width: 196px;
    height: 56px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: $base-font;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-color: rgba(98, 98, 98, 0.5);
    border-style: solid;
  }
}

/*
.concert-tours-background-block {
  padding-top: 500px
}
*/

/* LETTER COMPOSITIONS */

.letter-compositions {
  &__title {
    height: 37px;
    color: #000000;
    font-family: $main-title-font;
    font-size: 50px;
    font-weight: 400;
    // line-height: 59.27px;
    text-transform: uppercase;
    letter-spacing: 5.96px;
    text-align: center
  }

  &__info {
    padding: 0 52px 0 52px;
    text-align: center;
    height: 41px;
    color: #7a8083;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 1.77px;
  }

  &__video {
    display: block;
    width: 600px;
    height: 422px;
    margin: auto;
  }
}

.letter-compositions-box {
  width: 600px;
  height: 422px;
  background-color: #f5f6f6;
  margin: auto;
  margin-top: 48px;

  &__date {
    display: inline-block;
    padding-top: 34px;
    padding-left: 35px;
    opacity: 0.65;
    color: #000002;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__pre-title {
    padding-left: 35px;
    height: 11px;
    color: #000002;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 700;
    line-height: 24.27px;
    text-transform: uppercase;
  }

  &__title {
    padding-left: 35px;
    padding-right: 70px;
    height: 45px;
    color: #000000;
    font-family: $base-font;
    font-size: 23px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.41px;
  }

  &__info {
    padding-left: 35px;
    width: 520px;
    height: 65px;
    color: #7a8083;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.27px;
  }

  &__feedback {
    display: flex;
  }

  &__button {
    margin-left: 35px;
    margin-top: 56px;
    display: inline-block;
    background-color: transparent;
    width: 196px;
    height: 56px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: $base-font;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-color: rgba(98, 98, 98, 0.5);
    border-style: solid;
  }

  &__links {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: flex-end;
    width: 250px;
    list-style: none;
  }

  &__icon {
    cursor: pointer;
  }
}

.letter-compositions-block {
  margin-top: 109px;
  background-image: url(../img/ocean_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 750px;
  height: 642px;

  &__topic {
    margin: auto;
    text-align: center;
    width: 608px;
    color: #ffffff;
    font-family: $topic-font;
    font-size: 17px;
    font-weight: 400;
    line-height: 26.27px;
    text-transform: uppercase;
    letter-spacing: 2.01px;
  }

  &__info {
    margin: auto;
    text-align: center;
    width: 506px;
    color: #7a8083;
    font-family: $base-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px;
  }

  &__date {
    display: block;
    margin: auto;
    width: 200px;
    color: #565e61;
    font-family: $base-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px;
  }
}

.letter-compositions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 55px;

  .letter-compositions-list-item-01 {
    background-image: url(../img/letter-compositions-image-01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 384px;
    height: 422px;
    margin-bottom: 52px;

    &__date {
      display: inline-block;
      padding: 35px 0 0 35px;
      opacity: 0.65;
      color: #000000;
      font-family: $base-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        display: block;
        width: 312px;
        height: 2px;
        background-color: #000002;
        content: "";
        opacity: 0.5;
      }
    }

    &__name {
      padding-left: 35px;
      color: #ffffff;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
    }

    &__title {
      padding-left: 33px;
      word-wrap: normal;
      color: #000000;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.41px;
    }

    &__info {
      padding-left: 35px;
      padding-right: 35px;
      color: #7a8083;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.27px;
    }
  }

  .letter-compositions-list-item-02 {
    background-image: url(../img/letter-compositions-image-02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 384px;
    height: 422px;
    margin-bottom: 52px;

    &__date {
      display: inline-block;
      padding: 35px 0 0 35px;
      opacity: 0.65;
      color: #000000;
      font-family: $base-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        display: block;
        width: 312px;
        height: 2px;
        background-color: #000002;
        content: "";
        opacity: 0.5;
      }
    }

    &__name {
      padding-left: 35px;
      color: #ffffff;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
    }

    &__title {
      padding-left: 33px;
      word-wrap: normal;
      color: #000000;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.41px;
    }

    &__info {
      padding-left: 35px;
      padding-right: 35px;
      color: #7a8083;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.27px;
    }
  }

  .letter-compositions-list-item-03 {
    background-image: url(../img/letter-compositions-image-03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 384px;
    height: 422px;
    margin-bottom: 52px;

    &__date {
      display: inline-block;
      padding: 35px 0 0 35px;
      opacity: 0.65;
      color: #000000;
      font-family: $base-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        display: block;
        width: 312px;
        height: 2px;
        background-color: #000002;
        content: "";
        opacity: 0.5;
      }
    }

    &__name {
      padding-left: 35px;
      color: #ffffff;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
    }

    &__title {
      padding-left: 33px;
      word-wrap: normal;
      color: #000000;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.41px;
    }

    &__info {
      padding-left: 35px;
      padding-right: 35px;
      color: #7a8083;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.27px;
    }
  }

  .letter-compositions-list-item-04 {
    background-image: url(../img/letter-compositions-image-04.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 384px;
    height: 422px;
    margin-bottom: 52px;

    &__date {
      display: inline-block;
      padding: 35px 0 0 35px;
      opacity: 0.65;
      color: #000000;
      font-family: $base-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        display: block;
        width: 312px;
        height: 2px;
        background-color: #000002;
        content: "";
        opacity: 0.5;
      }
    }

    &__name {
      padding-left: 35px;
      color: #ffffff;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
    }

    &__title {
      padding-left: 33px;
      word-wrap: normal;
      color: #000000;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.41px;
    }

    &__info {
      padding-left: 35px;
      padding-right: 35px;
      color: #7a8083;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.27px;
    }
  }

  .letter-compositions-list-item-05 {
    background-image: url(../img/letter-compositions-image-05.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 384px;
    height: 422px;
    margin-bottom: 52px;

    &__date {
      display: inline-block;
      padding: 35px 0 0 35px;
      opacity: 0.65;
      color: #000000;
      font-family: $base-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        display: block;
        width: 312px;
        height: 2px;
        background-color: #000002;
        content: "";
        opacity: 0.5;
      }
    }

    &__name {
      padding-left: 35px;
      color: #ffffff;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
    }

    &__title {
      padding-left: 33px;
      word-wrap: normal;
      color: #000000;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.41px;
    }

    &__info {
      padding-left: 35px;
      padding-right: 35px;
      color: #7a8083;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.27px;
    }
  }

  .letter-compositions-list-item-06 {
    background-image: url(../img/letter-compositions-image-06.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 384px;
    height: 422px;

    &__date {
      display: inline-block;
      padding: 35px 0 0 35px;
      opacity: 0.65;
      color: #000000;
      font-family: $base-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;

      &::after {
        display: block;
        width: 312px;
        height: 2px;
        background-color: #000002;
        content: "";
        opacity: 0.5;
      }
    }

    &__name {
      padding-left: 35px;
      color: #ffffff;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.27px;
      text-transform: uppercase;
    }

    &__title {
      padding-left: 33px;
      word-wrap: normal;
      color: #000000;
      font-family: "Open Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.41px;
    }

    &__info {
      padding-left: 35px;
      padding-right: 35px;
      color: #7a8083;
      font-family: $base-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.27px;
      letter-spacing: 0.27px;
    }
  }
} // overflow - hidden нужно попробовать