.header {
  &__wrapper {
    display: block;
    position: relative;
    background-image: url(../img/header-picture2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    min-height: 540px;
    max-width: 940px;
    overflow: hidden;
  }
  
  &__button {
    position: absolute;
    background-image: url(../img/menu-picture.png);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 40px;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  
  &__title {
    position: absolute;
    background-image: url(../img/title-picture.png);
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 220px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}