.header {
  &__wrapper {
    position: relative;
    background-image: url(../img/header-picture.png);
    background-position: center;
    background-size: cover;
    height: 1336px;
    margin: auto;
  }
  
  &__button {
    position: absolute;
    background-image: url(../img/menu-picture.png);
    background-position: center;
    background-size: cover;
    width: 82px;
    height: 58px;
    top: 52px;
    right: 67px;
    cursor: pointer;
  }
  
  &__title {
    position: absolute;
    background-image: url(../img/title-picture.png);
    background-position: center;
    background-size: cover;
    width: 537px;
    height: 499px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}